@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Noto+Color+Emoji&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --white: #fff;
    
      --shadow_primary: #22222210;
      --shadow_secondary: #22222286;
      --shadow_half: #22222264;
      --shadow_inset_info: #22222229;
    
      --text_primary: #333;
      --text_lightgrey: #d5d5d5;
      --text_light: #eee;
      --text_very_light: #fefefefe;
      --text_mid_grey: #A4A4A4;
    
      --text_options: #ededed;
    
      --background_light_main: #FFFFFFB3;
      --background_light_second: #FFFFFFDF;
      --background_light_person_block: #FFFFFF80;
      --button_light: #ffffff48;
      --white_border: #ffffff20;
      --light_border: #ebedf0;
      --grey_border: #b3b3b3;
      --border_grey_entity: 1px solid var(--grey_border);
    
      --banner_gradient: linear-gradient(45deg, #c29819, #f0b607);
      --avatar_background_gradient: linear-gradient(193deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 24%, rgba(255, 255, 255, 1) 69%, rgba(238, 238, 238, 1) 90%, rgba(254, 254, 254, 1) 100%);
    
      --color_dark_gold: #E1AA4B;
      --color_orange_gold: #E08A1E;
      --color_gold_hover: #FEDB1D;
      --color_gold_hover_pre_light: #FFE727;
      --color_gold_hover_light: #FFF527;
      --color_pale_gold_semi_light: #ffd228;
      --color_pale_gold: #E2B13C;
      --color_dirty_gold: #C29819;
      --color_gold_selected: #EBC824;
      --color_gold_light: #ffed9a;
    
      --kamon_red: #dc4032;
      --kamon_red_shadow_dark: #70231c9a;
      --kamon_red_shadow_light: #ffada5;
    
      --water_element_gradient: linear-gradient(to top, #4575b5, #7db9e8, #b6e2ff);
      --metal_element_gradient: linear-gradient(to top, #9b9b9b, #e4e4e4, #e8e8e8);

      --font-var: var(--font-main), 'Noto Sans JP', 'Noto Sans KR', 'Noto Color Emoji', sans-serif;
      --font-varP: 'Philosopher', 'Noto Sans JP', 'Noto Sans KR', 'Noto Color Emoji', sans-serif;
      --font-varC: 'Cormorant SC', 'Noto Sans JP', 'Noto Sans KR', 'Noto Color Emoji', sans-serif;
  }


.entry-163083 .name-ru {display: none;}
.entry-163083 .title.two_lined::after {content: 'Вэй Усянь';}
.entry-163084 .name-ru {display: none;}
.entry-163084 .title.two_lined::after {content: 'Лань Ванцзи';}
.entry-175937 .name-ru {display: none;}
.entry-175937 .title.two_lined::after {content: 'Хуа Чэн';}
.entry-2423 .name-ru {display: none;}
.entry-2423 .title.two_lined::after {content: 'Дзирайа';}
.entry-53901 .name-ru {display: none;}
.entry-53901 .title.two_lined::after {content: 'Утиха Мадара';}
.entry-14 .name-ru {display: none;}
.entry-14 .title.two_lined::after {content: 'Утиха Итати';}
.entry-2455 .name-ru {display: none;}
.entry-2455 .title.two_lined::after {content: 'Оротимару';}

/* Yoshitsune */
.entry-203469 .name-ru {display: none;}
.entry-203469 .title.two_lined::after {content: 'Минамото-но Ёсицунэ';}

.cover, .anime-tooltip-processed {margin-top:10px}
@import url(https://css-club.web.app/css/fixed_cover.min.css);
.b-catalog_entry .cover .image-cutter img {
  border-radius: 7px;
  border: 1px solid #212121;
}
.b-catalog_entry .cover .image-cutter img:hover {
  border-radius: 7px;
  border: 1px solid #69bbfa;
}

.p-profiles .profile-head .c-brief header h1 {
  font-family: var(--font-varC) !important;
  font-size: 25pt;
  word-wrap: break-word !important;
  word-break: keep-all !important;
  white-space: normal !important;
  overflow-wrap: break-word !important;
}
.p-profiles .profile-head .c-brief header h1::before {
  content: 'Никарэтасу Домитори — Дзёнин деревни, скрытой деревьями ㊍';
  font-family: var(--font-var) !important;
  font-size: 10pt !important;
  display: block !important;
  margin-top:5px;
  word-wrap: break-word !important;
  word-break: keep-all !important;
  white-space: normal !important;
  overflow-wrap: break-word !important;
}
.p-profiles .profile-head .c-brief header h1::after {
  content: '🟢「Акацки вацыдота: Конан, Итачи, Кисамэ, Сасори, Дэйдара, Ка­кузу, Хидан, Орочимару, со штэ Дзэтцу」';
  width: auto;
  font-family: var(--font-var) !important;
  font-size: 10.5pt !important;
  display: block !important;
  word-wrap: break-word !important;
  word-break: keep-all !important;
  white-space: normal !important;
  overflow-wrap: break-word !important;
  margin-bottom: 10px;
}
header > .notice {visibility: visible; font-family: var(--font-main)}
div.profile-content::before {content:url('https://i.imgur.com/xU10ZwU.png'); margin-top: 25px;}

.b-stats_bar.anime .bar .first {background: #91ffa0}
.b-stats_bar.anime .bar .second {background: #91daff}



.p-profiles-show .b-feedback:before {
  content: '';
  display: inline-block;
  position: fixed;
  width: 300px;
  height: 300px;
  left: 0px;
  bottom: 0px;
  background: url("https://i.imgur.com/YSVgMN9.png") no-repeat;
  background-size: cover; 
  z-index: 10; 
  pointer-events: none;
}

.p-profiles-show .b-feedback:after {
  content: '';
  display: inline-block;
  position: fixed;
  width: 300px;
  height: 336px;
  right: 0px;
  bottom: 0px;
  background: url("https://i.imgur.com/4fn7ZJR.png") no-repeat;
  background-size: cover; 
  z-index: 10; 
  pointer-events: none;
}


img[title="Демер Нкардаз"] {
  border-radius: 20px;
  border: 4px solid transparent;
  box-shadow: 0 0 0 1px var(--shadow_inset_info);
}



.profile-head .avatar::after {
  content: 'Контентодел ㊋㊌㊍㊎㊏';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
}


.l-footer:after {
  content: '';
  display: block;
  width:1200px;
  height: 121px;
  background: url("https://i.imgur.com/VvZ31sz.jpg") no-repeat;
  background-size: 1200px; 
  margin: -15px;
  margin-top: 5px;
  background-position: center;
}

.p-profiles header.head .misc:after {  
  content: "всегда на сайте";
  font-size: 11px;
  line-height: 12px;
}

.p-profiles header.head .misc {
  font-size: 0px; 
}


body { background: url(/assets/background/square_bg.png) repeat; background-color: rgba(255,255,250,100)}




@import url(https://gist.githubusercontent.com/grin3671/d994b47c010aabfd06cba7b9b1edcf03/raw/mobileHistory.css);

@import url(https://css-club.web.app/css/favorites_grid.min.css);
.p-profiles-show {
  /* Отступы между колонками */
  --favorites-gutters: 8px;
  --favorites-columns-xl: 16;
}


@media only screen and (min-width: 768px) {
  .p-profiles-show .profile-content .cc-2 > .c-column {
    width: 100%;
  }

  .p-profiles-show .profile-content .cc-2 > .c-left {
    position: relative;
    width: 77%;
    padding-right: 30px;
    margin-right: 0;
    z-index: 1;
  }

  .p-profiles-show .lifetime {
    margin-bottom: 15px;
  }

  .p-profiles-show .profile-content .cc-2 > .c-right {
    float: none;
  }

  .p-profiles-show .profile-content .cc-2 > .c-right .cc-2a {
    width: 23%;
    overflow: hidden;
  }

  .p-profiles-show .profile-content .cc-2 > .c-right .cc-2a > .c-column {
    width: 100%;
    margin: 0;
  }

  .p-profiles-show .profile-content .cc-2 > .c-right .cc-2a > .c-column:last-child {
    margin-top: 15px;
  }

  .p-profiles-show .profile-content .cc-2 > .c-right > .block:last-child {
    clear: both;
    border-radius: 15px;
    overflow: hidden;
    background: var(--background_light_main);
    box-shadow: 0 3px 5px var(--shadow_inset_info);
    padding: 15px;
  }
  .p-profiles-show .profile-content .cc-2>.c-right>.block:last-child>#cutted_covers_1 {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 0px;
    column-gap: 10px;
  }
  .p-profiles-show .profile-content .cc-2>.c-right>.block:last-child article {
    width: auto;
    height: auto;
  }

  .about.block {
    border-radius: 15px;
    overflow: hidden;
    background: var(--background_light_main);
    box-shadow: 0 3px 5px var(--shadow_inset_info);
    padding: 15px;
  }
}





/*
ДАТЫ В ИСТОРИИ
@import url(https://raw.githubusercontent.com/kaurkaur/Shikimori/master/CSS/HistoryDates.css);

div.profile-content::before {content:url('https://i.imgur.com/esBwZwu.png');}

*/


article picture img,
article picture {
  height: 100%;
  object-fit: cover;
}


div.b-feedback {
  display: none !important;
}


.l-top_menu-v2 {
  margin-bottom: 25px;
}

.p-profiles-show .profile-head {
  position: relative;
  background: var(--background_light_main);
  box-shadow: 0 3px 5px var(--shadow_inset_info);
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  height: 600px;
  border-radius: 15px;
  overflow: hidden;
}

.p-profiles-show .profile-head:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: flex;
  height: 300px;
  width: 100%;
  background: url("https://i.imgur.com/Lh1C2F0.jpg") no-repeat;
  background-size: cover;
  margin-bottom: 5px;
  background-position: center;
}

.profile-head .c-brief {
  padding: 0 15px 0 15px;
  width: 650px;
  margin-bottom: 20px !important;
}

.profile-head .c-history.x3 {
  margin: 0;
  width: 256px;
}
.profile-head .c-info {
  margin: 0;
  width: 256px;
}

.l-page {
  position: relative !important;
  background: none !important;
  background-color: var(--background_light_main) !important;
  box-shadow: 0 3px 5px var(--shadow_inset_info) !important;
  border-radius: 15px !important;
  backdrop-filter: blur(5px) !important;
}
.l-page::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: saturate(0%);
  border-radius: 15px;
  opacity: 0.3;
}

body {
  position: relative !important;
  background: url('https://i.imgur.com/FQDVjuV.jpeg') no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
}

.b-catalog_entry .cover .image-cutter,
.b-catalog_entry-tooltip>a,
.entry-tooltip_container>.image-link {
  background-size: cover;
  background-position: top center;
}

/* Изменение контейнера во всплывающей подсказке */
.b-catalog_entry-tooltip>a,
.entry-tooltip_container>.image-link {
  float: left;
  width: 160px;
  height: 249.34px;
}

[class*='b-catalog_entry']>a[href*='characters/4730-'] img {
  opacity: 0;
  /* Скрыть изображение */
}

[class*='b-catalog_entry']>a[href*='characters/4730-'] {
  display: inline-block;
  width: 109px;
  height: 170px;
  background-image: url('https://i.imgur.com/T9D6Yw3.png');
  background-size: cover;
  border-radius: 7px;
  border: 1px solid #212121;
}

[class*='b-catalog_entry']>a[href*='characters/4730-']:hover {
  border-radius: 7px;
  border: 1px solid #69bbfa;
}